<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>pur locations</h3>
            <a href="#"><i class="fas fa-map-marker-alt"></i>india</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>USA</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>russia</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>france</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>japan</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>africa</a>

        </div>
        <div class="box">
            <h3>quick links</h3>
            <a href="#home"><i class="fas fa-arrow-right"></i>home</a>
            <a href="#featured"><i class="fas fa-arrow-right"></i>Employees</a>
            <a href="#arrivals"><i class="fas fa-arrow-right"></i>our team</a>
            <a href="#reviewa"><i class="fas fa-arrow-right"></i>Services</a>
            <a href="#blogs"><i class="fas fa-arrow-right"></i>About us</a>

        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#"><i class="fas fa-arrow-right"></i>account info</a>
            <a href="#"><i class="fas fa-arrow-right"></i>ordered items</a>
            <a href="#"><i class="fas fa-arrow-right"></i>privacy policy</a>
            <a href="#"><i class="fas fa-arrow-right"></i>payment method</a>
            <a href="#"><i class="fas fa-arrow-right"></i>our services</a>


        </div>
        <div class="box">
            <h3>contact info</h3>
            <a href="#"><i class="fas fa-phone"></i>+52262122</a>
            <a href="#"><i class="fas fa-phone"></i>+695336486</a>
            <a href="#"><i class="fas fa-envelope"></i>jhone@gmail.com</a>
            <img src="images/OIP (11).jpg" alt="">
        </div>
    </div>
    <div class="share">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fas fa-twitter"></i></a>
        <a href=""><i class="fas fa-instagram"></i></a>
        <a href=""><i class="fas fa-linkedin"></i></a>
        <a href=""><i class="fas fa-pinterest"></i></a>
    </div>
