<header class="header">
    <div class="header-2">
        <nav class="navbar">

            <a href="#home">home</a>

            <a href="#featured">Employees</a>
            <a href="#arrivals">Services</a>
            <a href="#reviews">our Team</a>
            <a href="#blogs">About</a>
        </nav>
    </div>
    <div class="header-1">
        <a href="#" class="logo"><i class="fas fa-book"></i> Company</a>
        <form class="searchform">
            <input type="search" placeholder="search here ...." id="searchbox">
            <label for="searchbox" class="fas fa-search"></label>
        </form>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div id="loginbtn" class="fas fa-user" onclick="act()"> </div>

        </div>
    </div>
</header>
<nav class="bottomnavbar">

    <a href="#home" class="fas fa-home"></a>

    <a href="#featured" class="fas fa-list"></a>
    <a href="#arrivals" class="fas fa-tags"></a>
    <a href="#reviews" class="fas fa-comment"></a>
    <a href="#blogs" class="fas fa-blog"></a>
</nav>