@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="logincontainer">
    <div id="closelogin" class="fas fa-times">
        <form action="Index" method="post">
        <h3>Add Employee:</h3>

        <label>First Name:</label>

        <input type="text" class="box" placeholder="enter First Name ..." id="">

        <label>Last Name:</label>

        <input type="text" class="box" placeholder="enter Last Name ..." id="">

        <label>Salary:</label>

        <input type="number" class="box" placeholder="enter Salary ..." id="">

        <label>Created By:</label>

        <input type="text" class="box" placeholder="enter your Name ..." id="">
   
        <input type="submit" value="Add Employee" class="btn">

    </form>
</div>
</div>